@using Utility
@using WebAppPlayshphere.Models
@model List<Utility.Entity>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Elenco dei videogame disponibili</h1>
    <h2><a href="/Videogiochi/FormAggiungi">Aggiungi nuovo videogioco<a/></h2>
    <div class="container">
        @foreach (var v in Model)
        {
            var gioco = (Videogioco)v;

            <div class="cards">
                <h3>@(gioco.Titolo)</h3><br />


                <p>
                    Console: @(gioco.Piattaforme)<br />
                    Genere: @(gioco.Generi)<br />
                    <a href="/Videogiochi/Dettagli/@gioco.Id"><input type="button" value="Dettagli"><a />
                    <a href="/Videogiochi/FormModifica/@gioco.Id"><input type="button" value="Modifica"><a />
                    <a href="/Videogiochi/Elimina/@gioco.Id"><input type="button" value="Elimina"><a />
                    <a href="/#PATH DA INSERIRE/@gioco.Id"><input type="button" value="Aggiungi al carrello"><a />
                </p><br />
            </div>
        }
    </div>
</body>
</html>