.termini-container, .privacy-container, .regolamento-container {
    color: var(--floral-white) !important;
    background-color: var(--black-olive);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 50%;
}

.termini-title, .privacy-title, .regolamento-title {
    color: var(--flame) !important;
    font-weight: bold;
}

.termini-section, .privacy-section, .regolamento-section {
    margin-bottom: 20px;
}

.termini-section h4, .privacy-section h4, .regolamento-section h4 {
    color: var(--flame);
    font-weight: bold;
}

.termini-section ul, .privacy-section ul, .regolamento-section ul {
    padding-left: 0;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: var(--floral-white)
}
