<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1><a href="Videogiochi/Catalogo">Elenco videogiochi</a></h1>
    <h1><a href="Recensioni/Elenco">Elenco Recensioni</a></h1>
</body>
</html>